.btn{
  background: #ff8663;
  border-radius: 30px;
  border-color: transparent;
  padding: 9px 17px;
  font-size: 12px;
  font-weight: 300;
  color: white;
  cursor: pointer;
  transition: all .3s ease;
  &:hover {
    opacity: .8;
    background: white;
    color: #ff8663;
    box-shadow: 0 0 3px #ff8663;
  }
  //display: flex;
  //margin-left: auto;
}