.ymaps-2-1-78-balloon, .ymaps-2-1-78-balloon__layout {
  border-radius: 5% !important;
}
.ymaps-2-1-78-balloon__content {
  margin-right: 0 !important;
  padding: 0 !important;
  border-radius: 5% !important;

  ymaps {
  height: auto !important;
    width: 379px !important;
  }
}