.carousel
    .carousel__close
        include icons/close.svg
    .carousel__arrow.left
        include icons/arrow-left.svg
    .carousel__content
        .carousel__reviews
            .review
                .review__info
                    .review__about Шоколадница 13.12.2015
                    a(href="#").review__addres Ленина 50в
                p.review__text  Очень хорошее место!
                .review__date 2016.08.17 23.03.10
        .carousel__sliders
            .carousel__slider 1
            .carousel__slider._active 2
    .carousel__arrow.right
        include icons/arrow-right.svg
