doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        link(href="style.css" rel='stylesheet')
        script(src='test.js')
    body
        b нажми!
        button.btn СОЗДАТЬ
        .container