doctype html
html(lang='en')
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(charset='UTF-8')
        link(href='styles/style.css' rel='stylesheet')
        title Title

    body
        canvas#myCanvas
        .shapes
            .shape(data-shape='circle') circle
            .shape(data-shape='quad') quad
            .shape(data-shape='triangle') triangle
            .shape(data-shape='rectangle') rectangle
            .shapes__color ЗАЛИВКА
                input( type="color" value="#ffffff" data-color='currentFillColor')
            .shapes__color РАМКА
                input( type="color" value="#ffffff" data-color='currentStrokeColor')

        script(src='./shapes.js')
        script(src='./app.js')
        script(src='./index.js')


        script
