doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        link(href="style.css" rel='stylesheet')
        script(src='test.js')
    body
        .some-class-1
            b привет!
            b.some-class-1.some-class-2 loftschool