doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        link(href="style.css" rel='stylesheet')
        script(src='test.js')
    body
        button.btn загрузить
        #loading-block.hide Загрузка...
        #filter-block(style='display: none;')
            input#filter-input(type='text' placeholder='название города')
            #filter-result

        #homework-container