.popup
    .popup__head
        .popup__head-icon
            include icons/location-pointer.svg
        .popup__title Невский пр., 78, Санкт-Петербург, 191025
        button.popup__close
            include icons/close.svg
    .popup__inner
        .popup__reviews.scroll
            .review
                .review__info
                    .review__name svetlana
                    .review__about Шоколадница 13.12.2015
                p.review__text  Очень хорошее место!
            .review
                .review__info
                    .review__name Сергей Мелюков
                    .review__about Красный куб 12.12.2015
                p.review__text  Ужасное место! Кругом зомби!!!!

            .review
                .review__info
                    .review__name Сергей Мелюков
                    .review__about Красный куб 12.12.2015
                p.review__text  Ужасное место! Кругом зомби!!!!


        form.popup__form.form
            h3.form__title ВАШ ОТЗЫВ
            .form__input
                input(placeholder="Ваше имя")
            .form__input
                input(placeholder="Укажите место")
            .form__textarea
                textarea(placeholder="Поделитесь впечатлениями" rows="8")
            .popup__btn._right
                button.btn Добавить