.friends {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.friend {
    width: 100px;
    margin: 10px;
}

.friend img {
    border-radius: 100%;
    overflow: hidden;
}
